In [1]:
## Data Cleaning - CDC - Importing Clean Data Into DB
### Version 3
#### 1/13/25
#### 00:10

In [2]:
# Importing Modules
import sys
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config


# Pandas
import pandas as pd

# Numpy
import numpy as np


# RegularExpression for string matching
import re

# GLOB 
import glob 

# Pathlib 
from pathlib import Path

In [3]:
global cdc_data_main_df
global cdc_data_main_df_csv
global cdc_data_main_df_pickle

In [4]:
def get_main_dataframe():

    global cdc_data_main_df
    global cdc_data_main_df_csv
    global cdc_data_main_df_pickle
    
    file_name_csv = "cdc_data_main_months_postimp_dfs_combined_df.csv"
    
    file_name_pickle = "cdc_data_main_months_postimp_dfs_combined_df.pkl"
    
    file_path_csv = config.global_processed_cdc_data_folder_path + "/" + file_name_csv
    file_path_pickle = config.global_processed_cdc_data_folder_path + "/" + file_name_pickle
    
    import_main_df_csv = pd.read_csv(file_path_csv, sep=",")

    import_main_df_pickle = pd.read_pickle(file_path_pickle)

    cdc_data_main_df_csv = import_main_df_csv.copy()

    cdc_data_main_df_pickle = import_main_df_pickle.copy()

    del import_main_df_csv

    del import_main_df_pickle

In [5]:
dtypes = {
        'year_code': str,
        'month_code': str,
        'state_code': str,
        'county_code': str,
        'fips': str,
        'births':str
    }

In [6]:
# Initializer Commands

# Initializes Database Engine and Session For SQL
db_tool.initialize_engine()
db_tool.initialize_session()

get_main_dataframe()

In [7]:
cdc_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  int64
 1   month_code   204528 non-null  int64
 2   state_code   204528 non-null  int64
 3   county_code  204528 non-null  int64
 4   births       204528 non-null  int64
dtypes: int64(5)
memory usage: 7.8 MB

In [8]:
cdc_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204528 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  object
 1   month_code   204528 non-null  object
 2   state_code   204528 non-null  object
 3   county_code  204528 non-null  object
 4   births       204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 9.4+ MB

In [9]:
cdc_data_main_df = cdc_data_main_df_pickle.copy()

In [10]:
del cdc_data_main_df_csv
del cdc_data_main_df_pickle

In [11]:
set_search_pattern = "cdc_data_main_months_postimp"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Data_Main_Months_Postimp_dfs_Combined_Archive"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

Files archived successfully.
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_combined_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_combined_df.pkl
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_corrected_df.csv
Deleted: D:\WGU\D497\Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_corrected_df.pkl
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_combined_df.csv
	Modified:	2025-01-12 21:54:20
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	4355238 bytes
	Uncompressed:	4355238 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_combined_df.pkl
	Modified:	2025-01-12 21:54:20
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	6154118 bytes
	Uncompressed:	6154118 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_corrected_df.csv
	Modified:	2025-01-12 21:52:26
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	4355238 bytes
	Uncompressed:	4355238 bytes
WGU/D497/Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_corrected_df.pkl
	Modified:	2025-01-12 21:52:26
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	6154118 bytes
	Uncompressed:	6154118 bytes

In [12]:
cdc_data_main_df.head()

  year_code month_code state_code county_code  births
0      1995          1         01       01015     127
1      1995          2         01       01015     127
2      1995          3         01       01015     127
3      1995          4         01       01015     127
4      1995          5         01       01015     127

In [13]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204528 entries, 0 to 159834
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  object
 1   month_code   204528 non-null  object
 2   state_code   204528 non-null  object
 3   county_code  204528 non-null  object
 4   births       204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 9.4+ MB

In [14]:
db_tool.export_to_sql(cdc_data_main_df, "cdc_data")

2025-01-13 00:09:39,731 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-13 00:09:39,752 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cdc_data")
2025-01-13 00:09:39,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-13 00:09:39,756 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("cdc_data")
2025-01-13 00:09:39,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-13 00:09:39,760 INFO sqlalchemy.engine.Engine
CREATE TABLE cdc_data (
	year_code TEXT,
	month_code TEXT,
	state_code TEXT,
	county_code TEXT,
	births BIGINT
)


2025-01-13 00:09:39,761 INFO sqlalchemy.engine.Engine [no key 0.00131s] ()
2025-01-13 00:09:40,764 INFO sqlalchemy.engine.Engine INSERT INTO cdc_data (year_code, month_code, state_code, county_code, births) VALUES (?, ?, ?, ?, ?)
2025-01-13 00:09:40,765 INFO sqlalchemy.engine.Engine [generated in 0.70293s] [('1995', 1, '01', '01015', 127), ('1995', 2, '01', '01015', 127), ('1995', 3, '01', '01015', 127), ('1995', 4, '01', '01015', 127), ('1995', 5, '01', '01015', 127), ('1995', 6, '01', '01015', 127), ('1995', 7, '01', '01015', 127), ('1995', 8, '01', '01015', 127)  ... displaying 10 of 204528 total bound parameter sets ...  ('2023', '12', '55', '55999', 1573), ('2023', '12', '56', '56999', 472)]
2025-01-13 00:09:41,069 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
test_sql = "SELECT * FROM cdc_data"

In [16]:
confirm_db_load_df = pd.DataFrame()

In [17]:
confirm_db_load_df = db_tool.export_df_from_sql(test_sql, confirm_db_load_df)

2025-01-13 00:09:41,111 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-13 00:09:41,113 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM cdc_data")
2025-01-13 00:09:41,114 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-13 00:09:41,116 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM cdc_data")
2025-01-13 00:09:41,117 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-13 00:09:41,118 INFO sqlalchemy.engine.Engine SELECT * FROM cdc_data
2025-01-13 00:09:41,118 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-13 00:09:41,717 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
confirm_db_load_df.head()

  year_code month_code state_code county_code  births
0      1995          1         01       01015     127
1      1995          2         01       01015     127
2      1995          3         01       01015     127
3      1995          4         01       01015     127
4      1995          5         01       01015     127

In [19]:
confirm_db_load_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  object
 1   month_code   204528 non-null  object
 2   state_code   204528 non-null  object
 3   county_code  204528 non-null  object
 4   births       204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 7.8+ MB

In [20]:
cleaned_cdc_data_main_df = confirm_db_load_df.copy()

In [21]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("cleaned_cdc_data", "cdc_data_main_df", cleaned_cdc_data_main_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [22]:
del confirm_db_load_df
del cdc_data_main_df
del cleaned_cdc_data_main_df