In [1]:
# Data Load - FIPS 
## Version 3
## 1/12/25
## 19:10

In [2]:
import sys
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config

# Pandas
import pandas as pd

# Numpy
import numpy as np

# RegularExpression for string matching
import re

# GLOB 
import glob 

# Pathlib 
from pathlib import Path

In [3]:
#fips_df = pd.DataFrame()
#fips_data_main_df_csv = pd.DataFrame()
#fips_data_main_df_pickle = pd.DataFrame()

In [4]:
# function loads FIPS data exported in data extraction step

def load_FIPS_data():

    global fips_data_main_df_csv
    global fips_data_main_df_pickle

    csv_dtypes = {
        'state_name': str,
        'county_name': str,
        'city_name': str,
        'state_code': str,
        'state_fipcode': str,
        'county_code': str,
        'county_fipcode': str,
        'city_code': str,
        'city_fipcode': str
    }

    file_name_csv = "raw_fips_master_data.csv"
    file_name_pickle = "raw_fips_master_data.pkl"
    
    file_path_csv = config.global_raw_fips_data_folder_path + "/" + file_name_csv
    file_path_pickle = config.global_raw_fips_data_folder_path + "/" + file_name_pickle

    import_main_df_csv = pd.read_csv(file_path_csv, sep=",", dtype=csv_dtypes)
    import_main_df_pickle = pd.read_pickle(file_path_pickle)

    fips_data_main_df_csv = import_main_df_csv.copy()
    fips_data_main_df_pickle = import_main_df_pickle.copy()

    del import_main_df_csv
    del import_main_df_pickle

In [5]:
# Initializer Commands
load_FIPS_data()

In [6]:
# Reviewing the information from the imported FIPS Data csv file. 
fips_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39792 entries, 0 to 39791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state_name      39792 non-null  object
 1   county_name     39791 non-null  object
 2   city_name       39790 non-null  object
 3   state_code      39792 non-null  object
 4   state_fipcode   39792 non-null  object
 5   county_code     39791 non-null  object
 6   county_fipcode  39791 non-null  object
 7   city_code       39790 non-null  object
 8   city_fipcode    39790 non-null  object
dtypes: object(9)
memory usage: 2.7+ MB

In [7]:
# Reviewing the information from the imported FIPS Data pickle file.
fips_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39792 entries, 0 to 1791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state_name      39792 non-null  object
 1   county_name     39791 non-null  object
 2   city_name       39790 non-null  object
 3   state_code      39792 non-null  object
 4   state_fipcode   39792 non-null  object
 5   county_code     39791 non-null  object
 6   county_fipcode  39791 non-null  object
 7   city_code       39790 non-null  object
 8   city_fipcode    39790 non-null  object
dtypes: object(9)
memory usage: 3.0+ MB

In [8]:
# Decided to keep the pickle file over the CSV. Copying the dataframe to a new one to act as the working main data frame. 
fips_data_main_df = fips_data_main_df_pickle.copy()

In [9]:
# Clean up. deleting the two dataframes from the import. 
del fips_data_main_df_csv
del fips_data_main_df_pickle

In [10]:
# obtaining information about the main dataframe. 
fips_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39792 entries, 0 to 1791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state_name      39792 non-null  object
 1   county_name     39791 non-null  object
 2   city_name       39790 non-null  object
 3   state_code      39792 non-null  object
 4   state_fipcode   39792 non-null  object
 5   county_code     39791 non-null  object
 6   county_fipcode  39791 non-null  object
 7   city_code       39790 non-null  object
 8   city_fipcode    39790 non-null  object
dtypes: object(9)
memory usage: 3.0+ MB

<a id="#dt3a_link"></a>

In [11]:
# Generating a sample of the dataframe for visual inspection. 
fips_data_main_df.sample(15)

,state_name,county_name,city_name,state_code,state_fipcode,county_code,county_fipcode,city_code,city_fipcode
1557,MINNESOTA,RAMSEY,LITTLE CANADA,MN,27,C123,27123,4205,271234205
1516,CALIFORNIA,SAN BERNARDINO,CREST PARK,CA,06,C071,06071,0911,060710911
1298,INDIANA,JEFFERSON,DUPONT,IN,18,C077,18077,1285,180771285
832,OHIO,LORAIN,AMHERST,OH,39,C093,39093,0170,390930170
129,WEST VIRGINIA,MERCER,KEGLEY,WV,54,C055,54055,1347,540551347
585,MARYLAND,CAROLINE,BRIDGETOWN,MD,24,C011,24011,0190,240110190
763,WISCONSIN,CRAWFORD,MT STERLING,WI,55,C023,55023,3230,550233230
578,OHIO,HAMILTON,GREENHILLS,OH,39,C061,39061,3160,390613160
1640,NORTH DAKOTA,DICKEY,FULLERTON,ND,38,C021,38021,1140,380211140
1914,SOUTH DAKOTA,CLARK,VIENNA,SD,46,C025,46025,2750,460252750
986,IDAHO,BOISE,LOWMAN,ID,16,C015,16015,0980,160150980
1408,VERMONT,ADDISON,VERGENNES,VT,50,C001,50001,0670,500010670
46,NEW YORK,SCHUYLER,TYRONE,NY,36,C097,36097,6164,360976164
985,PENNSYLVANIA,WASHINGTON,ELLSWORTH,PA,42,C125,42125,2570,421252570
1087,CALIFORNIA,LOS ANGELES,WHITTIER,CA,06,C037,06037,4190,060374190

In [12]:
# Checking for null values and counting them. 
fips_data_main_df.isnull().sum()

state_name        0
county_name       1
city_name         2
state_code        0
state_fipcode     0
county_code       1
county_fipcode    1
city_code         2
city_fipcode      2
dtype: int64

In [13]:
# Since null values were found. The null values of the city name column are isolated using the label local function on the data frame. 
fips_data_main_df.loc[fips_data_main_df['city_name'].isnull()]

,state_name,county_name,city_name,state_code,state_fipcode,county_code,county_fipcode,city_code,city_fipcode
920,HAWAII,KALAWAO,NaN,HI,15,C005,15005,NaN,NaN
1226,PUERTO RICO,NaN,NaN,PR,72,NaN,NaN,NaN,NaN

In [14]:
# Performing the same check with the label local function on the county name column. 
fips_data_main_df.loc[fips_data_main_df['county_name'].isnull()]

,state_name,county_name,city_name,state_code,state_fipcode,county_code,county_fipcode,city_code,city_fipcode
1226,PUERTO RICO,NaN,NaN,PR,72,NaN,NaN,NaN,NaN

In [15]:
# Removing Puerto Rico from the dataset as it's not within scope of this project. 

fips_data_main_df = fips_data_main_df.loc[~fips_data_main_df['state_fipcode'].str.contains("72")]

In [16]:
# https://www2.census.gov/geo/docs/reference/codes2020/cou/st15_hi_cou2020.txt

# County FIP Code is 005

# Cities in Hawaii
# https://www2.census.gov/geo/docs/reference/codes2020/place/st15_hi_place2020.txt

# Does not appear that Kalawoo has any cities 
# https://www2.census.gov/geo/docs/reference/codes2020/place_by_cou/st15_hi_place_by_county2020.txt

# This location was used to house leper patients in isolation until the cure was found. 
# Now it is going to be added to the national park. 
# It currently has 8 residents, who were former patients. 
# Settings City code to all 9, "9999" to indicate unspecified

In [17]:
# As we can see from the EDA research above. Hawaii has some issues with cities due to most livable areas being tribes or villages. 
# There was also an issued with the volcacno eruption that removed whole section and some areas being reclassified into others. 
# So the county 005 data is having the city name and city code reclasssified with unspecified to remove the null functionality. 
fips_data_main_df.loc[fips_data_main_df['county_fipcode'] == "15005", ['city_name','city_code']] = ['UNSPECIFIED','9999']

In [18]:
# City fipcode is also manually assigned.
fips_data_main_df.loc[fips_data_main_df['county_fipcode'] == "15005", 'city_fipcode'] = "150059999"

In [19]:
# Pulling the Kalawao county information again to verify that changes were successfull. 
fips_data_main_df[fips_data_main_df['county_fipcode'] == "15005"]

,state_name,county_name,city_name,state_code,state_fipcode,county_code,county_fipcode,city_code,city_fipcode
920,HAWAII,KALAWAO,UNSPECIFIED,HI,15,C005,15005,9999,150059999

 EDA Revealed that Miami was changed to Dale-Maimi in '97. All of the 95-02 data has the old fipcode and needs to be updated.

In [20]:
fips_data_main_df.loc[fips_data_main_df['county_fipcode'] == "12025", 'county_fipcode'] = "12086"

In [21]:
# Checking for null values visually again. 
fips_data_main_df.isnull().sum().sum()

np.int64(0)

In [22]:
# Renaming columns to be more accurrate in their description. 
# Since I will be utilizing County FIP Code in it's 3 digit classifierd, "CXXX" I will rename the listed county_fipcode to fips_five to indicate the five digit fipcode that specifies state and county. 
# I am also changing the city_fipcode to fips_nine to show the nine digit fipcode that represents the state, county and city identifier. 

fips_data_main_df.rename(columns={'county_fipcode':'fips_five', 'city_fipcode':'fips_nine'}, inplace=True)

In [23]:
# Column rename continued. 
# City code will now be renamed to city fipcode to show show the four digit fipcode for the city. 
# County_code will now be renamed to county_fipcode to represent the 3 digit identifier for the county, "CXXX"
fips_data_main_df.rename(columns={'city_code':'city_fipcode','county_code':'county_fipcode'}, inplace=True)

In [24]:
# Saving the FIPs data back onto itself to easily reorganize the columns into the order I would prefer. 
fips_data_main_df = fips_data_main_df[['state_name','state_code','state_fipcode','county_name','county_fipcode','city_name','city_fipcode','fips_five','fips_nine']]

In [25]:
# displaying results. 
fips_data_main_df

,state_name,state_code,state_fipcode,county_name,county_fipcode,city_name,city_fipcode,fips_five,fips_nine
0,ALABAMA,AL,01,AUTAUGA,C001,AUTAUGAVILLE,0220,01001,010010220
1,ALABAMA,AL,01,AUTAUGA,C001,BILLINGSLEY,0340,01001,010010340
2,ALABAMA,AL,01,AUTAUGA,C001,BOOTH,0425,01001,010010425
3,ALABAMA,AL,01,AUTAUGA,C001,JONES,1796,01001,010011796
4,ALABAMA,AL,01,AUTAUGA,C001,MARBURY,2002,01001,010012002
...,...,...,...,...,...,...,...,...,...
1787,WYOMING,WY,56,WASHAKIE,C043,TEN SLEEP,0810,56043,560430810
1788,WYOMING,WY,56,WASHAKIE,C043,WORLAND,0890,56043,560430890
1789,WYOMING,WY,56,WESTON,C045,NEWCASTLE,0610,56045,560450610
1790,WYOMING,WY,56,WESTON,C045,OSAGE,0623,56045,560450623
1791,WYOMING,WY,56,WESTON,C045,UPTON,0850,56045,560450850

In [26]:
# Creating a Checkpoint of my progresss by exporting a CSV and Pickle file using my checkpoint tool. 
CheckPoint.create_checkpoint("processed_fips_data", "master_fips_data_dfs_complete", fips_data_main_df)

In [27]:
# Creating a new column called Multi-County flag. This is needed because some cities exist in multiple counties. 
# The multi_county_flag will be a boolean value of true or false created by performing a grouping of the state fipcode and city name. 
# Then the transform function is performed with the number of unique function to check if the groupings have more than one results. 
# if so the value is set to true. 
fips_data_main_df['multi_county_flag'] = fips_data_main_df.groupby(['state_fipcode','city_name'])['county_name'].transform('nunique') > 1

In [28]:
# Checking results of the operation. 
fips_data_main_df['multi_county_flag'].value_counts()

multi_county_flag
False    37809
True      1982
Name: count, dtype: int64

In [29]:
# I will now create a new column called county count performing the same operation as above, but this time without the greater than one operation on the end.
# By excluding the greater than one comparision, the result is exported as an integer 
fips_data_main_df['county_count'] = fips_data_main_df.groupby(['state_fipcode', 'city_name'])['county_fipcode'].transform('nunique')

In [30]:
# I will now create a new column called County rank which will store a sudo-ranked number for the number of cities each county has. 
# Essentially, what I am doing here is numbering each result for counties that have more than one city assigned to them. 
# The rank is assigned based on asscending order of the county fipcode of the city name. 
# This is accomplished by first grouping the columns by state fip code and city name. The rank function is then performed on each city
# Any result null result is set to 0 and all rows are set to int. 

fips_data_main_df['county_rank'] = (
    fips_data_main_df.groupby(['state_fipcode','city_name'])['county_fipcode']
    .rank(method='dense', ascending=True)
    .fillna(0)
    .astype(int)
)

In [31]:
# Previewing results. 
fips_data_main_df[(fips_data_main_df['multi_county_flag'] == True) & (fips_data_main_df['state_fipcode'] == "01")].head(50).sort_values(by=["city_name", 'county_rank'])

,state_name,state_code,state_fipcode,county_name,county_fipcode,city_name,city_fipcode,fips_five,fips_nine,multi_county_flag,county_count,county_rank
271,ALABAMA,AL,01,ETOWAH,C055,BOAZ,0400,01055,010550400,True,2,1
522,ALABAMA,AL,01,MARSHALL,C095,BOAZ,0400,01095,010950400,True,2,2
365,ALABAMA,AL,01,JEFFERSON,C073,BROWNVILLE,0506,01073,010730506,True,2,1
366,ALABAMA,AL,01,JEFFERSON,C073,BROWNVILLE,0509,01073,010730509,True,2,1
699,ALABAMA,AL,01,TUSCALOOSA,C125,BROWNVILLE,0506,01125,011250506,True,2,2
50,ALABAMA,AL,01,BLOUNT,C009,COUNTY LINE,0798,01009,010090798,True,2,1
373,ALABAMA,AL,01,JEFFERSON,C073,COUNTY LINE,0798,01073,010730798,True,2,2
784,ALABAMA,AL,01,DE KALB,C049,CROSSVILLE,0810,01049,010490810,True,2,1
424,ALABAMA,AL,01,LAMAR,C075,CROSSVILLE,0811,01075,010750811,True,2,2
379,ALABAMA,AL,01,JEFFERSON,C073,FLAT CREEK,1170,01073,010731170,True,2,1
723,ALABAMA,AL,01,WALKER,C127,FLAT CREEK,1170,01127,011271170,True,2,2
165,ALABAMA,AL,01,COFFEE,C031,FORT RUCKER,1235,01031,010311235,True,2,1
229,ALABAMA,AL,01,DALE,C045,FORT RUCKER,1235,01045,010451235,True,2,2
473,ALABAMA,AL,01,MACON,C087,FRANKLIN,1236,01087,010871236,True,2,1
554,ALABAMA,AL,01,MONROE,C099,FRANKLIN,1236,01099,010991236,True,2,2
287,ALABAMA,AL,01,FAYETTE,C057,GLEN ALLEN,1365,01057,010571365,True,2,1
513,ALABAMA,AL,01,MARION,C093,GLEN ALLEN,1365,01093,010931365,True,2,2
386,ALABAMA,AL,01,JEFFERSON,C073,HOOVER,1716,01073,010731716,True,2,1
647,ALABAMA,AL,01,SHELBY,C117,HOOVER,1716,01117,011171716,True,2,2
391,ALABAMA,AL,01,JEFFERSON,C073,LEEDS,1850,01073,010731850,True,3,1
628,ALABAMA,AL,01,ST CLAIR,C115,LEEDS,1850,01115,011151850,True,3,2
648,ALABAMA,AL,01,SHELBY,C117,LEEDS,1850,01117,011171850,True,3,3
448,ALABAMA,AL,01,LEE,C081,NOTASULGA,2270,01081,010812270,True,2,1
475,ALABAMA,AL,01,MACON,C087,NOTASULGA,2270,01087,010872270,True,2,2
401,ALABAMA,AL,01,JEFFERSON,C073,OAK GROVE,2275,01073,010732275,True,2,1
680,ALABAMA,AL,01,TALLADEGA,C121,OAK GROVE,2275,01121,011212275,True,2,2
244,ALABAMA,AL,01,DALLAS,C047,PLANTERSVILLE,2507,01047,010472507,True,2,1
245,ALABAMA,AL,01,DALLAS,C047,PLANTERSVILLE,2508,01047,010472508,True,2,1
681,ALABAMA,AL,01,TALLADEGA,C121,PLANTERSVILLE,2507,01121,011212507,True,2,2
682,ALABAMA,AL,01,TALLADEGA,C121,PLANTERSVILLE,2505,01121,011212505,True,2,2
278,ALABAMA,AL,01,ETOWAH,C055,RAINBOW CITY,2562,01055,010552562,True,2,1
634,ALABAMA,AL,01,ST CLAIR,C115,RAINBOW CITY,2562,01115,011152562,True,2,2
413,ALABAMA,AL,01,JEFFERSON,C073,SUMITON,2880,01073,010732880,True,2,1
734,ALABAMA,AL,01,WALKER,C127,SUMITON,2880,01127,011272880,True,2,2
258,ALABAMA,AL,01,ELMORE,C051,TALLASSEE,2940,01051,010512940,True,2,1
696,ALABAMA,AL,01,TALLAPOOSA,C123,TALLASSEE,2940,01123,011232940,True,2,2
638,ALABAMA,AL,01,ST CLAIR,C115,VINCENT,3140,01115,011153140,True,3,1
657,ALABAMA,AL,01,SHELBY,C117,VINCENT,3140,01117,011173140,True,3,2
687,ALABAMA,AL,01,TALLADEGA,C121,VINCENT,3140,01121,011213140,True,3,3
98,ALABAMA,AL,01,CHAMBERS,C017,WAVERLY,3200,01017,010173200,True,2,1
452,ALABAMA,AL,01,LEE,C081,WAVERLY,3200,01081,010813200,True,2,2
86,ALABAMA,AL,01,CALHOUN,C015,WHITE PLAINS,3272,01015,010153272,True,2,1
99,ALABAMA,AL,01,CHAMBERS,C017,WHITE PLAINS,3273,01017,010173273,True,2,2

In [32]:
# Checking to make sure all county_ranks do not have a 0
fips_data_main_df[fips_data_main_df['county_rank'] == 0]

Empty DataFrame
Columns: [state_name, state_code, state_fipcode, county_name, county_fipcode, city_name, city_fipcode, fips_five, fips_nine, multi_county_flag, county_count, county_rank]
Index: []

In [33]:
# Creating a checkpoint again of my progress this time to be used with the next step. 
CheckPoint.create_checkpoint("processed_fips_data", "fips_data_cleaning_complete", fips_data_main_df)

In [34]:
# Archiving all previous data utilized. 

set_search_pattern = "raw_fips_master_data*"
set_search_folder = "raw_fips_data"
set_save_folder = "archived_fips_data"
set_save_file = "FIPS_Raw_Downloads"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

Files archived successfully.
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\raw_data\fips_data\raw_fips_master_data.csv
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\raw_data\fips_data\raw_fips_master_data.pkl
WGU/New folder/D497/WGU_D497_Project_1/data/raw_data/fips_data/raw_fips_master_data.csv
	Modified:	2025-01-31 19:43:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	2399757 bytes
	Uncompressed:	2399757 bytes
WGU/New folder/D497/WGU_D497_Project_1/data/raw_data/fips_data/raw_fips_master_data.pkl
	Modified:	2025-01-31 19:43:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	3396248 bytes
	Uncompressed:	3396248 bytes

## [Next Step: Data Load - FIPS Data](data_load_fips.ipynb)
---
#### [Return To Landing Page](order_of_operations_landing.ipynb)