In [1]:
## Data Cleaning - CDC - Importing Clean Data Into DB
### Version 3
#### 1/13/25
#### 00:10

In [27]:
# Importing Modules

# Import SYs
import sys

# import os
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config


# Pandas
import pandas as pd

# Numpy
import numpy as np

In [28]:
# Global Variables 

global cdc_data_main_df
global cdc_data_main_df_csv
global cdc_data_main_df_pickle

In [29]:
# function gets main working dataframes and saves as import csv and import pickle 

def get_main_dataframe():

    global cdc_data_main_df
    global cdc_data_main_df_csv
    global cdc_data_main_df_pickle
    
    file_name_csv = "cdc_data_main_months_postimp_dfs_combined_df.csv"
    
    file_name_pickle = "cdc_data_main_months_postimp_dfs_combined_df.pkl"
    
    file_path_csv = config.global_processed_cdc_data_folder_path + "/" + file_name_csv
    file_path_pickle = config.global_processed_cdc_data_folder_path + "/" + file_name_pickle
    
    import_main_df_csv = pd.read_csv(file_path_csv, sep=",")

    import_main_df_pickle = pd.read_pickle(file_path_pickle)

    cdc_data_main_df_csv = import_main_df_csv.copy()

    cdc_data_main_df_pickle = import_main_df_pickle.copy()

    del import_main_df_csv

    del import_main_df_pickle

In [33]:
# Setting dtypes for import 

dtypes = {
        'year_code': str,
        'month_code': str,
        'state': str,
        'state_code': str,
        'state_fipcode': str,
        'county':str,    
        'county_fipcode': str,
        'fips_five': str,
        'births':str
    }

In [34]:
# Initializer Commands

# Initializes Database Engine and Session For SQL
db_tool.initialize_engine()
db_tool.initialize_session()

get_main_dataframe()

In [36]:
# Getting csv info
cdc_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  int64
 1   month_code      204528 non-null  int64
 2   state           204528 non-null  object
 3   state_code      204528 non-null  object
 4   state_fipcode   204528 non-null  int64
 5   county          204528 non-null  object
 6   county_fipcode  204528 non-null  object
 7   fips_five       204528 non-null  int64
 8   births          204528 non-null  int64
dtypes: int64(5), object(4)
memory usage: 14.0+ MB

In [37]:
# Getting pickle info
cdc_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204528 entries, 0 to 159834
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  object
 1   month_code      204528 non-null  object
 2   state           204528 non-null  object
 3   state_code      204528 non-null  object
 4   state_fipcode   204528 non-null  object
 5   county          204528 non-null  object
 6   county_fipcode  204528 non-null  object
 7   fips_five       204528 non-null  object
 8   births          204528 non-null  int64
dtypes: int64(1), object(8)
memory usage: 15.6+ MB

In [38]:
# Keeping pickle, saving as new dataframe
cdc_data_main_df = cdc_data_main_df_pickle.copy()

In [39]:
# Cleanup
del cdc_data_main_df_csv
del cdc_data_main_df_pickle

In [40]:
# Archiving all old files 
set_search_pattern = "cdc_data_main_months_postimp"
set_search_folder = "processed_cdc_data"
set_save_folder = "archived_cdc_data"
set_save_file = "CDC_Data_Main_Months_Postimp_dfs_Combined_Archive"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

Files archived successfully.
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_combined_df.csv
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_combined_df.pkl
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_corrected_df.csv
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\processed_data\cdc_data\cdc_data_main_months_postimp_dfs_corrected_df.pkl
WGU/New folder/D497/WGU_D497_Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_combined_df.csv
	Modified:	2025-01-31 23:58:46
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	11392702 bytes
	Uncompressed:	11392702 bytes
WGU/New folder/D497/WGU_D497_Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_combined_df.pkl
	Modified:	2025-01-31 23:58:46
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	12793399 bytes
	Uncompressed:	12793399 bytes
WGU/New folder/D497/WGU_D497_Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_corrected_df.csv
	Modified:	2025-01-31 23:58:30
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	11392702 bytes
	Uncompressed:	11392702 bytes
WGU/New folder/D497/WGU_D497_Project_1/data/processed_data/cdc_data/cdc_data_main_months_postimp_dfs_corrected_df.pkl
	Modified:	2025-01-31 23:58:30
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	12793399 bytes
	Uncompressed:	12793399 bytes

In [41]:
# Visual inspection
cdc_data_main_df.head()

,year_code,month_code,state,state_code,state_fipcode,county,county_fipcode,fips_five,births
0,1995,1,Alabama,AL,01,Calhoun County,C015,01015,127
1,1995,2,Alabama,AL,01,Calhoun County,C015,01015,127
2,1995,3,Alabama,AL,01,Calhoun County,C015,01015,127
3,1995,4,Alabama,AL,01,Calhoun County,C015,01015,127
4,1995,5,Alabama,AL,01,Calhoun County,C015,01015,127

In [42]:
# Getting info
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204528 entries, 0 to 159834
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  object
 1   month_code      204528 non-null  object
 2   state           204528 non-null  object
 3   state_code      204528 non-null  object
 4   state_fipcode   204528 non-null  object
 5   county          204528 non-null  object
 6   county_fipcode  204528 non-null  object
 7   fips_five       204528 non-null  object
 8   births          204528 non-null  int64
dtypes: int64(1), object(8)
memory usage: 15.6+ MB

In [43]:
# Exporting dataframe to database using database helper tool.
db_tool.export_to_sql(cdc_data_main_df, "cdc_data")

2025-01-31 23:59:14,564 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-31 23:59:14,586 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cdc_data")
2025-01-31 23:59:14,587 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-31 23:59:14,589 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("cdc_data")
2025-01-31 23:59:14,590 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-31 23:59:14,592 INFO sqlalchemy.engine.Engine
CREATE TABLE cdc_data (
	year_code TEXT,
	month_code TEXT,
	state TEXT,
	state_code TEXT,
	state_fipcode TEXT,
	county TEXT,
	county_fipcode TEXT,
	fips_five TEXT,
	births BIGINT
)


2025-01-31 23:59:14,592 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2025-01-31 23:59:16,002 INFO sqlalchemy.engine.Engine INSERT INTO cdc_data (year_code, month_code, state, state_code, state_fipcode, county, county_fipcode, fips_five, births) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-01-31 23:59:16,003 INFO sqlalchemy.engine.Engine [generated in 1.04063s] [('1995', 1, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127), ('1995', 2, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127), ('1995', 3, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127), ('1995', 4, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127), ('1995', 5, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127), ('1995', 6, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127), ('1995', 7, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127), ('1995', 8, 'Alabama', ' AL', '01', 'Calhoun County', 'C015', '01015', 127)  ... displaying 10 of 204528 total bound parameter sets ...  ('2023', '12', 'Wisconsin', ' WI', '55', 'Unidentified Counties', 'C999', '55999', 1573), ('2023', '12', 'Wyoming', ' WY', '56', 'Unidentified Counties', 'C999', '56999', 472)]
2025-01-31 23:59:16,388 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
# Test sql to verify commit was successful 
test_sql = "SELECT * FROM cdc_data"

In [45]:
# Empty dataframe for test 
confirm_db_load_df = pd.DataFrame()

In [46]:
# Exporting newly created table to dataframe 
confirm_db_load_df = db_tool.export_df_from_sql(test_sql, confirm_db_load_df)

2025-01-31 23:59:17,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-31 23:59:17,029 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM cdc_data")
2025-01-31 23:59:17,030 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-31 23:59:17,031 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM cdc_data")
2025-01-31 23:59:17,032 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-31 23:59:17,033 INFO sqlalchemy.engine.Engine SELECT * FROM cdc_data
2025-01-31 23:59:17,033 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-31 23:59:17,767 INFO sqlalchemy.engine.Engine COMMIT

In [47]:
# Visual confirmation
confirm_db_load_df.head()

,year_code,month_code,state,state_code,state_fipcode,county,county_fipcode,fips_five,births
0,1995,1,Alabama,AL,01,Calhoun County,C015,01015,127
1,1995,2,Alabama,AL,01,Calhoun County,C015,01015,127
2,1995,3,Alabama,AL,01,Calhoun County,C015,01015,127
3,1995,4,Alabama,AL,01,Calhoun County,C015,01015,127
4,1995,5,Alabama,AL,01,Calhoun County,C015,01015,127

In [48]:
# Getting info
confirm_db_load_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  object
 1   month_code      204528 non-null  object
 2   state           204528 non-null  object
 3   state_code      204528 non-null  object
 4   state_fipcode   204528 non-null  object
 5   county          204528 non-null  object
 6   county_fipcode  204528 non-null  object
 7   fips_five       204528 non-null  object
 8   births          204528 non-null  int64
dtypes: int64(1), object(8)
memory usage: 14.0+ MB

In [49]:
# Copying to test new dataframe for export checkpoint
cleaned_cdc_data_main_df = confirm_db_load_df.copy()

In [50]:
# Checkpoint export to cleaned data directory.

In [51]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("cleaned_cdc_data", "cdc_data_main_df", cleaned_cdc_data_main_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [52]:
# Cleanup

del confirm_db_load_df
del cdc_data_main_df
del cleaned_cdc_data_main_df


## [Next Step: Data Transformation - Removal of Unspecified Counties from CDC Data ](data_transformation_cdc_data_unspecified_county_removal.ipynb)
---
#### [Return To Landing Page](order_of_operations_landing.ipynb)