In [1]:
# Data Load - FIPS 
## Version 3
## 1/26/25
## 23:00

In [2]:
# Import Sys
import sys

# Import OS
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config

# Pandas
import pandas as pd

# Numpy
import numpy as np

In [3]:
# Function imports checkpoint files from previous step

def load_FIPS_data():

    global fips_data_main_df_csv
    global fips_data_main_df_pickle

    csv_dtypes = {
        'state_name': str,
        'county_name': str,
        'city_name': str,
        'state_code': str,
        'state_fipcode': str,
        'county_code': str,
        'county_fipcode': str,
        'city_code': str,
        'city_fipcode': str
    }

    file_name_csv = "fips_data_cleaning_complete.csv"
    
    file_name_pickle = "fips_data_cleaning_complete.pkl"
    
    file_path_csv = config.global_processed_fips_data_folder_path + "/" + file_name_csv
    file_path_pickle = config.global_processed_fips_data_folder_path + "/" + file_name_pickle

    import_main_df_csv = pd.read_csv(file_path_csv, sep=",", dtype=csv_dtypes)
    import_main_df_pickle = pd.read_pickle(file_path_pickle)

        
    fips_data_main_df_csv = import_main_df_csv.copy()
    fips_data_main_df_pickle = import_main_df_pickle.copy()


    del import_main_df_csv
    del import_main_df_pickle

In [4]:
# Initializes Database Engine and Session For SQL
db_tool.initialize_engine()
db_tool.initialize_session()

# Runs load fips data function
load_FIPS_data()

In [5]:
# getting info of the fips data csv file imported
fips_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39791 entries, 0 to 39790
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  int64
 8   fips_nine          39791 non-null  int64
 9   multi_county_flag  39791 non-null  bool
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: bool(1), int64(4), object(7)
memory usage: 3.4+ MB

In [6]:
# getting data from the fips data pickle file that was imported 
fips_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39791 entries, 0 to 1791
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  object
 8   fips_nine          39791 non-null  object
 9   multi_county_flag  39791 non-null  bool
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: bool(1), int64(2), object(9)
memory usage: 3.7+ MB

In [7]:
# keeping the pickle file and copying it over to a the main working dataframe. 
fips_data_main_df = fips_data_main_df_pickle.copy()

# cleaning up by deleting imported dataframe
del fips_data_main_df_csv
del fips_data_main_df_pickle

In [8]:
# getting info for fips data main file. 
fips_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39791 entries, 0 to 1791
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  object
 8   fips_nine          39791 non-null  object
 9   multi_county_flag  39791 non-null  bool
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: bool(1), int64(2), object(9)
memory usage: 3.7+ MB

In [9]:
# visually checking dataframe with sample function 

fips_data_main_df.sample(15)

,state_name,state_code,state_fipcode,county_name,county_fipcode,city_name,city_fipcode,fips_five,fips_nine,multi_county_flag,county_count,county_rank
1221,FLORIDA,FL,12,CLAY,C019,KINGSLEY LAKE,1583,12019,120191583,False,1,1
567,GEORGIA,GA,13,STEPHENS,C257,TOCCOA,5530,13257,132575530,False,1,1
280,NEW YORK,NY,36,SULLIVAN,C105,PHILLIPSPORT,4788,36105,361054788,False,1,1
208,WEST VIRGINIA,WV,54,MONONGALIA,C061,WADESTOWN,2683,54061,540612683,False,1,1
457,ALABAMA,AL,01,LIMESTONE,C083,ELKMONT,1020,01083,010831020,False,1,1
1859,PENNSYLVANIA,PA,42,FAYETTE,C051,MCCLURE,4675,42051,420514675,True,2,1
1546,LOUISIANA,LA,22,RICHLAND,C083,WARDEN,2355,22083,220832355,False,1,1
793,HAWAII,HI,15,HAWAII,C001,NAALEHU,6805,15001,150016805,False,1,1
1740,MISSOURI,MO,29,TANEY,C213,FORSYTH,2845,29213,292132845,False,1,1
857,TENNESSEE,TN,47,SEVIER,C155,KODAK,1303,47155,471551303,False,1,1
1457,ILLINOIS,IL,17,COOK,C031,BENSENVILLE,0740,17031,170310740,True,2,1
674,NEW YORK,NY,36,ALLEGANY,C003,CANEADEA,0861,36003,360030861,False,1,1
655,OREGON,OR,41,MARION,C047,JEFFERSON,1110,41047,410471110,False,1,1
934,TEXAS,TX,48,WEBB,C479,LAREDO AFB,3900,48479,484793900,False,1,1
477,VIRGINIA,VA,51,NORTHAMPTON,C131,CHERITON,0465,51131,511310465,False,1,1

In [10]:
# exporiting dataframe into the sql database using my database helper tool

db_tool.export_to_sql(fips_data_main_df, "fips_data")

2025-01-20 16:50:47,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-20 16:50:47,685 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fips_data")
2025-01-20 16:50:47,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-20 16:50:47,688 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("fips_data")
2025-01-20 16:50:47,688 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-20 16:50:47,690 INFO sqlalchemy.engine.Engine
CREATE TABLE fips_data (
	state_name TEXT,
	state_code TEXT,
	state_fipcode TEXT,
	county_name TEXT,
	county_fipcode TEXT,
	city_name TEXT,
	city_fipcode TEXT,
	fips_five TEXT,
	fips_nine TEXT,
	multi_county_flag BOOLEAN,
	county_count BIGINT,
	county_rank BIGINT
)


2025-01-20 16:50:47,690 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()
2025-01-20 16:50:48,042 INFO sqlalchemy.engine.Engine INSERT INTO fips_data (state_name, state_code, state_fipcode, county_name, county_fipcode, city_name, city_fipcode, fips_five, fips_nine, multi_county_flag, county_count, county_rank) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-01-20 16:50:48,043 INFO sqlalchemy.engine.Engine [generated in 0.27069s] [('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'AUTAUGAVILLE', '0220', '01001', '010010220', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'BILLINGSLEY', '0340', '01001', '010010340', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'BOOTH', '0425', '01001', '010010425', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'JONES', '1796', '01001', '010011796', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'MARBURY', '2002', '01001', '010012002', 0, 1, 1), ('ALABAMA', 'AL', '01', 'AUTAUGA', 'C001', 'PRATTVILLE', '2540', '01001', '010012540', 0, 1, 1), ('ALABAMA', 'AL', '01', 'BALDWIN', 'C003', 'BAY MINETTE', '0240', '01003', '010030240', 0, 1, 1), ('ALABAMA', 'AL', '01', 'BALDWIN', 'C003', 'BON SECOUR', '0423', '01003', '010030423', 0, 1, 1)  ... displaying 10 of 39791 total bound parameter sets ...  ('WYOMING', 'WY', '56', 'WESTON', 'C045', 'OSAGE', '0623', '56045', '560450623', 0, 1, 1), ('WYOMING', 'WY', '56', 'WESTON', 'C045', 'UPTON', '0850', '56045', '560450850', 0, 1, 1)]
2025-01-20 16:50:48,133 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
# Sql query string to pull all the data from the newly created database table
commit_test_sql = "SELECT * FROM fips_data"

In [12]:
# Creating empty dataframe to hold the results of the export

commit_confirmation_df = pd.DataFrame()

In [13]:
# Exporting data from the sql database to the newly created dataframe using my database helper tool 

commit_confirmation_df = db_tool.export_df_from_sql(commit_test_sql, commit_confirmation_df)

2025-01-20 16:50:48,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-20 16:50:48,167 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM fips_data")
2025-01-20 16:50:48,168 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-20 16:50:48,169 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM fips_data")
2025-01-20 16:50:48,170 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-20 16:50:48,171 INFO sqlalchemy.engine.Engine SELECT * FROM fips_data
2025-01-20 16:50:48,172 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-20 16:50:48,359 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
# Visually inspecting data
commit_confirmation_df.head()

,state_name,state_code,state_fipcode,county_name,county_fipcode,city_name,city_fipcode,fips_five,fips_nine,multi_county_flag,county_count,county_rank
0,ALABAMA,AL,01,AUTAUGA,C001,AUTAUGAVILLE,0220,01001,010010220,0,1,1
1,ALABAMA,AL,01,AUTAUGA,C001,BILLINGSLEY,0340,01001,010010340,0,1,1
2,ALABAMA,AL,01,AUTAUGA,C001,BOOTH,0425,01001,010010425,0,1,1
3,ALABAMA,AL,01,AUTAUGA,C001,JONES,1796,01001,010011796,0,1,1
4,ALABAMA,AL,01,AUTAUGA,C001,MARBURY,2002,01001,010012002,0,1,1

In [15]:
# Checking data information 
commit_confirmation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39791 entries, 0 to 39790
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state_name         39791 non-null  object
 1   state_code         39791 non-null  object
 2   state_fipcode      39791 non-null  object
 3   county_name        39791 non-null  object
 4   county_fipcode     39791 non-null  object
 5   city_name          39791 non-null  object
 6   city_fipcode       39791 non-null  object
 7   fips_five          39791 non-null  object
 8   fips_nine          39791 non-null  object
 9   multi_county_flag  39791 non-null  int64
 10  county_count       39791 non-null  int64
 11  county_rank        39791 non-null  int64
dtypes: int64(3), object(9)
memory usage: 3.6+ MB

In [16]:
# Getting the size of the data
commit_confirmation_df.shape[0]

39791

In [17]:
# getting the original dataframe's size
fips_data_main_df.shape[0]

39791

In [ ]:
# Programmatically comparing the two datafram's sizes 
assert commit_confirmation_df.shape[0] == fips_data_main_df.shape[0]

In [18]:
# Creating an export of the data to be saved to the cleaned data folder as the ETL for the fips data as been completed thus far. 
CheckPoint.create_checkpoint("cleaned_fips_data", "fips_data_main_df", fips_data_main_df)

In [19]:
# Archiving all files used for this process to clean up
set_search_pattern = "*fips*"
set_search_folder = "processed_fips_data"
set_save_folder = "archived_fips_data"
set_save_file = "FIPS_Data_Extract_and_Cleaning_Parts"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

Files archived successfully.
Deleted: D:\WGU\D497\WGU_D497_Project_1\data\processed_data\fips_data\fips_data_cleaning_complete.csv
Deleted: D:\WGU\D497\WGU_D497_Project_1\data\processed_data\fips_data\fips_data_cleaning_complete.pkl
Deleted: D:\WGU\D497\WGU_D497_Project_1\data\processed_data\fips_data\master_fips_data_dfs_complete.csv
Deleted: D:\WGU\D497\WGU_D497_Project_1\data\processed_data\fips_data\master_fips_data_dfs_complete.pkl
WGU/D497/WGU_D497_Project_1/data/processed_data/fips_data/fips_data_cleaning_complete.csv
	Modified:	2025-01-20 16:50:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	2795725 bytes
	Uncompressed:	2795725 bytes
WGU/D497/WGU_D497_Project_1/data/processed_data/fips_data/fips_data_cleaning_complete.pkl
	Modified:	2025-01-20 16:50:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	4072935 bytes
	Uncompressed:	4072935 bytes
WGU/D497/WGU_D497_Project_1/data/processed_data/fips_data/master_fips_data_dfs_complete.csv
	Modified:	2025-01-20 16:50:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	2399754 bytes
	Uncompressed:	2399754 bytes
WGU/D497/WGU_D497_Project_1/data/processed_data/fips_data/master_fips_data_dfs_complete.pkl
	Modified:	2025-01-20 16:50:24
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	3396166 bytes
	Uncompressed:	3396166 bytes

In [20]:
del commit_confirmation_df
del fips_data_main_df

## [Next Step: Data Transformation - State Lookup Data](data_transformation_state_lookup.ipynb)
---
#### [Return To Landing Page](order_of_operations_landing.ipynb)