In [1]:
# Data Load
## UFO
### Version 2
#### 1/12/25
#### 01:00

In [2]:
# Importing Modules

# Importing sys
import sys

# Importing os
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config


# Pandas
import pandas as pd

# Numpy
import numpy as np

In [3]:
# Global variables
ufo_data_main_df_pickle = pd.DataFrame()
ufo_data_main_df_csv = pd.DataFrame()
ufo_data_main_df = pd.DataFrame()

In [4]:
# function imports the csv and pickle checkpoint files
def get_main_dataframe():

    global ufo_data_main_df_csv
    global ufo_data_main_df_pickle
    
    file_name_csv = "ufo_data_main_fips_complete.csv"
    file_name_pickle = "ufo_data_main_fips_complete.pkl"
    
    file_path_csv = config.global_processed_ufo_data_folder_path + "/" + file_name_csv
    file_path_pickle = config.global_processed_ufo_data_folder_path + "/" + file_name_pickle
    
    import_main_df_csv = pd.read_csv(file_path_csv, sep=",")
    import_main_df_pickle = pd.read_pickle(file_path_pickle)

    ufo_data_main_df_csv = import_main_df_csv.copy()
    ufo_data_main_df_pickle = import_main_df_pickle.copy()

    del import_main_df_csv
    del import_main_df_pickle

In [5]:
# Initializer Commands


# Initializes Database Engine and Session For SQL
db_tool.initialize_engine()
db_tool.initialize_session()

# Initializes The Folders for This Notebook
get_main_dataframe()

C:\Users\Caprikey\AppData\Local\Temp\ipykernel_41584\2798707213.py:13: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  import_main_df_csv = pd.read_csv(file_path_csv, sep=",")

In [6]:
# Get csv info
ufo_data_main_df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128365 entries, 0 to 128364
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   report_id       128365 non-null  int64
 1   year_code       128365 non-null  int64
 2   month_code      128365 non-null  int64
 3   state_fipcode   128365 non-null  int64
 4   county_fipcode  128365 non-null  object
 5   city_fipcode    128365 non-null  object
 6   fips_five       128365 non-null  int64
 7   fips_nine       128365 non-null  object
dtypes: int64(5), object(3)
memory usage: 7.8+ MB

In [7]:
# Get pickle info
ufo_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128365 entries, 0 to 128364
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   report_id       128365 non-null  object
 1   year_code       128365 non-null  int32
 2   month_code      128365 non-null  int32
 3   state_fipcode   128365 non-null  object
 4   county_fipcode  128365 non-null  object
 5   city_fipcode    128365 non-null  object
 6   fips_five       128365 non-null  object
 7   fips_nine       128365 non-null  object
dtypes: int32(2), object(6)
memory usage: 7.8+ MB

In [8]:
# Keeping pickle saving to new dataframe
ufo_data_main_df = ufo_data_main_df_pickle.copy()

In [9]:
# Cleanup
del ufo_data_main_df_csv
del ufo_data_main_df_pickle

In [10]:
# Get info
ufo_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128365 entries, 0 to 128364
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   report_id       128365 non-null  object
 1   year_code       128365 non-null  int32
 2   month_code      128365 non-null  int32
 3   state_fipcode   128365 non-null  object
 4   county_fipcode  128365 non-null  object
 5   city_fipcode    128365 non-null  object
 6   fips_five       128365 non-null  object
 7   fips_nine       128365 non-null  object
dtypes: int32(2), object(6)
memory usage: 7.8+ MB

In [11]:
# visual inspection
ufo_data_main_df.sample()

,report_id,year_code,month_code,state_fipcode,county_fipcode,city_fipcode,fips_five,fips_nine
43488,184421,2024,11,08,C117,0930,08117,081170930

In [12]:
# Exporting dataframe into sql database
db_tool.export_to_sql(ufo_data_main_df, "ufo_data")

2025-02-01 00:33:06,645 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-01 00:33:06,659 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ufo_data")
2025-02-01 00:33:06,660 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-01 00:33:06,662 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ufo_data")
2025-02-01 00:33:06,664 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-01 00:33:06,666 INFO sqlalchemy.engine.Engine
CREATE TABLE ufo_data (
	report_id BIGINT,
	year_code INTEGER,
	month_code INTEGER,
	state_fipcode TEXT,
	county_fipcode TEXT,
	city_fipcode TEXT,
	fips_five TEXT,
	fips_nine TEXT
)


2025-02-01 00:33:06,667 INFO sqlalchemy.engine.Engine [no key 0.00101s] ()
2025-02-01 00:33:07,568 INFO sqlalchemy.engine.Engine INSERT INTO ufo_data (report_id, year_code, month_code, state_fipcode, county_fipcode, city_fipcode, fips_five, fips_nine) VALUES (?, ?, ?, ?, ?, ?, ?, ?)
2025-02-01 00:33:07,569 INFO sqlalchemy.engine.Engine [generated in 0.71019s] [(58873, 2007, 9, '35', 'C045', '0115', '35045', '350450115'), (57430, 2007, 7, '06', 'C059', '2199', '06059', '060592199'), (71348, 2006, 12, '04', 'C013', '0370', '04013', '040130370'), (71370, 2006, 12, '04', 'C013', '0370', '04013', '040130370'), (52772, 2006, 10, '08', 'C055', '9999', '08055', '080559999'), (52777, 2006, 10, '08', 'C999', '9999', '08999', '089999999'), (52058, 2006, 8, '45', 'C051', '9999', '45051', '450519999'), (57262, 2006, 8, '06', 'C037', '1980', '06037', '060371980')  ... displaying 10 of 128365 total bound parameter sets ...  (60204, 2007, 12, '48', 'C297', '0500', '48297', '482970500'), (60172, 2007, 12, '12', 'C193', '0115', '12193', '121930115')]
2025-02-01 00:33:07,833 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
# Confirmation sql query
test_sql = "SELECT * FROM ufo_data"

In [14]:
# Creating empty dataframe
confirm_db_load_df = pd.DataFrame()

In [15]:
# Exporting data from sql database into empty dataframe
confirm_db_load_df = db_tool.export_df_from_sql(test_sql, confirm_db_load_df)

2025-02-01 00:33:07,870 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-01 00:33:07,871 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM ufo_data")
2025-02-01 00:33:07,871 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-01 00:33:07,873 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM ufo_data")
2025-02-01 00:33:07,873 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-01 00:33:07,874 INFO sqlalchemy.engine.Engine SELECT * FROM ufo_data
2025-02-01 00:33:07,876 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-01 00:33:08,333 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
# Visual inspection
confirm_db_load_df.head()

,report_id,year_code,month_code,state_fipcode,county_fipcode,city_fipcode,fips_five,fips_nine
0,58873,2007,9,35,C045,0115,35045,350450115
1,57430,2007,7,06,C059,2199,06059,060592199
2,71348,2006,12,04,C013,0370,04013,040130370
3,71370,2006,12,04,C013,0370,04013,040130370
4,52772,2006,10,08,C055,9999,08055,080559999

In [17]:
# Getting info of export
confirm_db_load_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128365 entries, 0 to 128364
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   report_id       128365 non-null  int64
 1   year_code       128365 non-null  int64
 2   month_code      128365 non-null  int64
 3   state_fipcode   128365 non-null  object
 4   county_fipcode  128365 non-null  object
 5   city_fipcode    128365 non-null  object
 6   fips_five       128365 non-null  object
 7   fips_nine       128365 non-null  object
dtypes: int64(3), object(5)
memory usage: 7.8+ MB

In [18]:
# Getting info of original
ufo_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128365 entries, 0 to 128364
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   report_id       128365 non-null  object
 1   year_code       128365 non-null  int32
 2   month_code      128365 non-null  int32
 3   state_fipcode   128365 non-null  object
 4   county_fipcode  128365 non-null  object
 5   city_fipcode    128365 non-null  object
 6   fips_five       128365 non-null  object
 7   fips_nine       128365 non-null  object
dtypes: int32(2), object(6)
memory usage: 7.8+ MB

In [19]:
# Copying test export to a new dataframe
cleaned_ufo_data_main_df = confirm_db_load_df.copy()

In [20]:
# Saving cleaned data from the export to the cleaned data directory

In [21]:
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 


CheckPoint.create_checkpoint("cleaned_ufo_data", "ufo_data_main_df", cleaned_ufo_data_main_df)


#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                   CHECK POINT                     #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### ####                                                   #### #### #### #### #### #### #### #### #### #### #### #### 
#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####

In [22]:
# Cleanup
del confirm_db_load_df
del ufo_data_main_df
del cleaned_ufo_data_main_df

In [23]:
# Archiving data from previous step to archive folder
set_search_pattern = "ufo_data_main_fips"
set_search_folder = "processed_ufo_data"
set_save_folder = "archived_ufo_data"
set_save_file = "UFO_Data_Data_Cleaning_FIPS_Addition"
filter_extension = False
filter_by_file_extension = None
archive_module.create_archive(set_search_pattern, set_search_folder, set_save_folder, set_save_file, filter_extension, filter_by_file_extension, delete=True)

Files archived successfully.
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\processed_data\ufo_data\ufo_data_main_fips_complete.csv
Deleted: D:\WGU\New folder\D497\WGU_D497_Project_1\data\processed_data\ufo_data\ufo_data_main_fips_complete.pkl
WGU/New folder/D497/WGU_D497_Project_1/data/processed_data/ufo_data/ufo_data_main_fips_complete.csv
	Modified:	2025-02-01 00:32:32
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	5609043 bytes
	Uncompressed:	5609043 bytes
WGU/New folder/D497/WGU_D497_Project_1/data/processed_data/ufo_data/ufo_data_main_fips_complete.pkl
	Modified:	2025-02-01 00:32:32
	System:		0(0 = Windows, 3 = Unix)
	ZIP version:	20
	Compressed:	7197005 bytes
	Uncompressed:	7197005 bytes

## [Next Step: Data Transformation - UFO Data Aggregation](data_transformation_ufo_data_aggregation.ipynb)
---
#### [Return To Landing Page](order_of_operations_landing.ipynb)