In [ ]:
get_single_county_cities_sql = """

    SELECT
    
        *
        
    FROM
        fips_data
        
        WHERE
        
            multi_county_flag == "1"
            
            ORDER BY 
                state_fipcode, city_name, county_rank
        


"""

In [107]:
get_cleaned_dataframe("cdc_data", "cdc_data_main_df")

In [ ]:
import_data_main_df_csv.info()

In [109]:
import_data_main_df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  object
 1   month_code   204528 non-null  object
 2   state_code   204528 non-null  object
 3   county_code  204528 non-null  object
 4   births       204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 7.8+ MB

In [110]:
cdc_data_main_df = import_data_main_df_pickle.copy()

In [111]:
del import_data_main_df_csv
del import_data_main_df_pickle

In [112]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year_code    204528 non-null  object
 1   month_code   204528 non-null  object
 2   state_code   204528 non-null  object
 3   county_code  204528 non-null  object
 4   births       204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 7.8+ MB

In [113]:
cdc_data_main_df.columns = ['year_code', 'month_code','state_fipcode','fips_five', 'births']

In [114]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year_code      204528 non-null  object
 1   month_code     204528 non-null  object
 2   state_fipcode  204528 non-null  object
 3   fips_five      204528 non-null  object
 4   births         204528 non-null  int64
dtypes: int64(1), object(4)
memory usage: 7.8+ MB

In [115]:
cdc_data_main_df['county_fipcode'] = "C" + (cdc_data_main_df['fips_five'].str.slice(-3))

In [128]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  object
 1   month_code      204528 non-null  object
 2   state_fipcode   204528 non-null  object
 3   county_fipcode  204528 non-null  object
 4   fips_five       204528 non-null  object
 5   births          204528 non-null  int64
dtypes: int64(1), object(5)
memory usage: 9.4+ MB

In [117]:
cdc_data_main_df.insert(3, 'county_fipcode', cdc_data_main_df.pop('county_fipcode'))

In [125]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  object
 1   month_code      204528 non-null  object
 2   state_fipcode   204528 non-null  object
 3   county_fipcode  204528 non-null  object
 4   fips_five       204528 non-null  object
 5   births          204528 non-null  int64
dtypes: int64(1), object(5)
memory usage: 9.4+ MB

In [160]:
combinding_cdc_ufo_df = pd.merge(cdc_data_main_df, in_scope_sightings, on=['state_fipcode', 'county_fipcode', 'fips_five'], how="inner")

In [161]:
combinding_cdc_ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16937352 entries, 0 to 16937351
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   year_code_x     object
 1   month_code_x    object
 2   state_fipcode   object
 3   county_fipcode  object
 4   fips_five       object
 5   births          int64
 6   year_code_y     object
 7   month_code_y    object
 8   count           int64
dtypes: int64(2), object(7)
memory usage: 1.1+ GB

In [182]:
combined_cdc_ufo_df_2 = pd.merge(in_scope_sightings, cdc_data_main_df, on=['year_code','month_code'], how="left", indicator=True)

In [183]:
combined_cdc_ufo_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83661 entries, 0 to 83660
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year_code         83661 non-null  object
 1   month_code        83661 non-null  object
 2   state_fipcode_x   83661 non-null  object
 3   county_fipcode_x  83661 non-null  object
 4   count             83661 non-null  int64
 5   fips_five_x       83661 non-null  object
 6   state_fipcode_y   0 non-null      object
 7   county_fipcode_y  0 non-null      object
 8   fips_five_y       0 non-null      object
 9   births            0 non-null      float64
 10  _merge            83661 non-null  category
dtypes: category(1), float64(1), int64(1), object(8)
memory usage: 6.5+ MB

In [163]:
missing_ufo = in_scope_sightings.merge(cdc_data_main_df, on=['year_code', 'month_code', 'fips_five'], how="left", indicator=True)

In [164]:
missing_ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83661 entries, 0 to 83660
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year_code         83661 non-null  object
 1   month_code        83661 non-null  object
 2   state_fipcode_x   83661 non-null  object
 3   county_fipcode_x  83661 non-null  object
 4   count             83661 non-null  int64
 5   fips_five         83661 non-null  object
 6   state_fipcode_y   0 non-null      object
 7   county_fipcode_y  0 non-null      object
 8   births            0 non-null      float64
 9   _merge            83661 non-null  category
dtypes: category(1), float64(1), int64(1), object(7)
memory usage: 5.8+ MB

In [165]:
missing_cdc = cdc_data_main_df.merge(in_scope_sightings, on=['year_code', 'month_code', 'fips_five'], how="left", indicator=True)

In [167]:
missing_cdc = missing_cdc.loc[missing_cdc['_merge'] == 'left_only']

In [169]:
missing_cdc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 204528 entries, 0 to 204527
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   year_code         204528 non-null  object
 1   month_code        204528 non-null  object
 2   state_fipcode_x   204528 non-null  object
 3   county_fipcode_x  204528 non-null  object
 4   fips_five         204528 non-null  object
 5   births            204528 non-null  int64
 6   state_fipcode_y   0 non-null       object
 7   county_fipcode_y  0 non-null       object
 8   count             0 non-null       float64
 9   _merge            204528 non-null  category
dtypes: category(1), float64(1), int64(1), object(7)
memory usage: 15.8+ MB

In [170]:
missing_ufo = missing_ufo[missing_ufo['_merge'] == 'left_only']

In [171]:
missing_ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83661 entries, 0 to 83660
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year_code         83661 non-null  object
 1   month_code        83661 non-null  object
 2   state_fipcode_x   83661 non-null  object
 3   county_fipcode_x  83661 non-null  object
 4   count             83661 non-null  int64
 5   fips_five         83661 non-null  object
 6   state_fipcode_y   0 non-null      object
 7   county_fipcode_y  0 non-null      object
 8   births            0 non-null      float64
 9   _merge            83661 non-null  category
dtypes: category(1), float64(1), int64(1), object(7)
memory usage: 5.8+ MB

In [246]:
all_combinations_df = cdc_data_main_df[['year_code', 'month_code', 'state_fipcode', 'county_fipcode','fips_five']].drop_duplicates()

In [247]:
merged_data_df = pd.merge(all_combinations_df, cdc_data_main_df, on=['year_code', 'month_code', 'state_fipcode', 'county_fipcode','fips_five'], how="left")

In [248]:
in_scope_sightings.head(5)

      year_code month_code state_fipcode county_fipcode  count fips_five
1979       1994          1            06           C037      4     06037
73162      1994          1            06           C053      1     06053
73163      1994          1            06           C089      1     06089
73164      1994          1            06           C111      1     06111
73165      1994          1            08           C117      1     08117

In [249]:
merged_data_df = pd.merge(merged_data_df, in_scope_sightings, on=['year_code', 'month_code', 'state_fipcode', 'county_fipcode','fips_five'], how="left")

In [231]:
merged_data_df['count'] = merged_data_df['count'].fillna(0)

In [250]:
merged_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  object
 1   month_code      204528 non-null  object
 2   state_fipcode   204528 non-null  object
 3   county_fipcode  204528 non-null  object
 4   fips_five       204528 non-null  object
 5   births          204528 non-null  int64
 6   count           0 non-null       float64
dtypes: float64(1), int64(1), object(5)
memory usage: 10.9+ MB

In [233]:
merged_data_df.sample(25)

,year_code,month_code,state_fipcode,county_fipcode,fips_five,births,count
37281,2001,10,08,C031,08031,949,0.0
92223,2009,2,26,C163,26163,1929,0.0
163758,2018,8,12,C097,12097,427,0.0
96398,2009,9,06,C085,06085,2114,0.0
177880,2020,6,37,C085,37085,151,0.0
41779,2001,8,48,C039,48039,346,0.0
75727,2006,12,11,C001,11001,729,0.0
168511,2019,3,42,C011,42011,403,0.0
129354,2014,1,29,C047,29047,245,0.0
117194,2012,6,12,C015,12015,86,0.0
142281,2015,10,04,C999,04999,277,0.0
152665,2017,2,34,C027,34027,333,0.0
76317,2007,1,12,C061,12061,126,0.0
32937,2000,10,25,C017,25017,1616,0.0
37311,2001,4,08,C069,08069,274,0.0
60383,2004,9,19,C999,19999,1930,0.0
89772,2008,10,34,C999,34999,56,0.0
29420,1999,9,45,C999,45999,1675,0.0
90030,2008,10,54,C003,54003,0,0.0
166796,2019,1,01,C101,01101,264,0.0
163074,2018,7,06,C089,06089,201,0.0
118217,2012,7,42,C129,42129,290,0.0
121359,2012,12,42,C101,42101,1935,0.0
106742,2011,1,34,C015,34015,248,0.0
97163,2009,10,18,C127,18127,152,0.0

In [240]:
merged_data_df[(merged_data_df['year_code'] == "2014") & (merged_data_df['month_code'] == "3") & (merged_data_df['fips_five'] == "12011")]

,year_code,month_code,state_fipcode,county_fipcode,fips_five,births,count
130402,2014,3,12,C011,12011,1843,NaN