In [ ]:
# Data Analysis - 
# Version 1
## 1/14/25
## 15:30

In [35]:
# Importing Modules
import sys
import os

# Add the root directory to sys.path
sys.path.append(os.path.abspath(".."))

# Now you can use absolute imports
from d497_helpers import folder_manager as fm, archive_module, checkpoint_helper as CheckPoint, database_helper as db_tool, config, import_dataframe

# Pandas
import pandas as pd

# Numpy
import numpy as np

In [36]:
import_cdc_data_main_csv, import_cdc_data_main_pickle = import_dataframe.import_dataframe("cdc_data", "cleaned", "cdc_data_main_df")

In [37]:
cdc_data_main_df = import_cdc_data_main_pickle.copy()

In [38]:
cdc_data_main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204528 entries, 0 to 204527
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year_code       204528 non-null  object
 1   month_code      204528 non-null  object
 2   state_fipcode   204528 non-null  object
 3   county_fipcode  204528 non-null  object
 4   fips_five       204528 non-null  object
 5   births          204528 non-null  int64
dtypes: int64(1), object(5)
memory usage: 9.4+ MB

In [39]:
cdc_data_main_df.head()

  year_code month_code state_fipcode county_fipcode fips_five  births
0      1995          1            01           C015     01015     127
1      1995          2            01           C015     01015     127
2      1995          3            01           C015     01015     127
3      1995          4            01           C015     01015     127
4      1995          5            01           C015     01015     127

In [43]:
cdc_data_main_df[cdc_data_main_df['fips_five'] == "12025"]

Empty DataFrame
Columns: [year_code, month_code, state_fipcode, county_fipcode, fips_five, births]
Index: []

In [42]:
cdc_data_main_df.loc[cdc_data_main_df['fips_five'] == "12025", ['county_fipcode', 'fips_five']] = ['C086', '12086']

In [12]:
#cdc_data_main_df.loc[cdc_data_main_df['fips_five'] == "12025", :] = "12086"

C:\Users\Caprikey\AppData\Local\Temp\ipykernel_23412\1754946469.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12086' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cdc_data_main_df.loc[cdc_data_main_df['fips_five'] == "12025", :] = "12086"

In [13]:
cdc_data_main_df.loc[cdc_data_main_df['fips_five'] == "12025"]

Empty DataFrame
Columns: [year_code, month_code, state_code, county_code, fips_five, births]
Index: []

In [44]:
cdc_data_main_df.loc[cdc_data_main_df['fips_five'] == "12086"]

       year_code month_code state_fipcode county_fipcode fips_five  births
1008        1995          1            12           C086     12086    2676
1009        1995          2            12           C086     12086    2676
1010        1995          3            12           C086     12086    2676
1011        1995          4            12           C086     12086    2675
1012        1995          5            12           C086     12086    2675
...          ...        ...           ...            ...       ...     ...
201495      2023          8            12           C086     12086    2546
202124      2023          9            12           C086     12086    2469
202753      2023         10            12           C086     12086    2591
203382      2023         11            12           C086     12086    2486
204011      2023         12            12           C086     12086    2558

[348 rows x 6 columns]

In [16]:
cdc_data_main_df = cdc_data_main_df.rename(columns={'county_code': 'county_fipcode'})

In [18]:
cdc_data_main_df = cdc_data_main_df.rename(columns={'state_code': 'state_fipcode'})

In [20]:
county_count_dict = cdc_data_main_df[cdc_data_main_df['county_fipcode'] != "C999"].groupby('state_fipcode')['county_fipcode'].nunique().to_dict()

In [22]:
unspecified_counties = cdc_data_main_df[cdc_data_main_df['county_fipcode'] == "C999"]

In [31]:
county_count_dict

{'01': 13,
 '02': 1,
 '04': 9,
 '05': 6,
 '06': 35,
 '08': 11,
 '09': 8,
 '10': 3,
 '11': 1,
 '12': 33,
 '12086': 1,
 '13': 24,
 '15': 3,
 '16': 4,
 '17': 20,
 '18': 17,
 '19': 6,
 '20': 5,
 '21': 6,
 '22': 14,
 '23': 5,
 '24': 13,
 '25': 11,
 '26': 20,
 '27': 10,
 '28': 5,
 '29': 10,
 '30': 2,
 '31': 3,
 '32': 2,
 '33': 4,
 '34': 20,
 '35': 5,
 '36': 28,
 '37': 27,
 '38': 1,
 '39': 28,
 '40': 5,
 '41': 9,
 '42': 31,
 '44': 3,
 '45': 15,
 '46': 2,
 '47': 12,
 '48': 39,
 '49': 6,
 '50': 1,
 '51': 16,
 '53': 12,
 '54': 2,
 '55': 15}

In [34]:
cdc_data_main_df[cdc_data_main_df['state_fipcode'] == "12086"]

      year_code month_code state_fipcode county_fipcode fips_five births
1008      12086      12086         12086          12086     12086  12086
1009      12086      12086         12086          12086     12086  12086
1010      12086      12086         12086          12086     12086  12086
1011      12086      12086         12086          12086     12086  12086
1012      12086      12086         12086          12086     12086  12086
...         ...        ...           ...            ...       ...    ...
43687     12086      12086         12086          12086     12086  12086
43688     12086      12086         12086          12086     12086  12086
43689     12086      12086         12086          12086     12086  12086
43690     12086      12086         12086          12086     12086  12086
43691     12086      12086         12086          12086     12086  12086

[96 rows x 6 columns]

In [23]:
distribute_births = []

In [30]:
for index, row in unspecified_counties.iterrows():

    state = row['state_fipcode']
    total_counties = county_count_dict.get(state, 1)
    total_births = row['births']

    per_county = total_births // total_counties
    remainder = total_births % total_counties 

    counties_df = cdc_data_main_df[(cdc_data_main_df['state_fipcode'] == state) & (cdc_data_main_df['county_fipcode'] != "C999")].copy()

    counties_df['extra_births'] = per_county

    if remainder > 0:
        remainder_index = np.random.choice(counties_df.index, size=remainder, replace=False)
        counties_df.loc[remainder_index, 'extra_births'] += 1

    distribute_births.append(counties_df)

distributed_births_df = pd.concat(distribute_births)

cdc_data_main_df = cdc_data_main_df[cdc_data_main_df['county_fipcode'] != "C999"]

cdc_data_main_df = pd.merge(cdc_data_main_df, distributed_births_df[['fips_five', 'extra_births']], on='fips_five', how="left")

cdc_data_main_df['births'] += cdc_data_main_df['extra_births'].fillna(0).astype(int)

cdc_data_main_df = cdc_data_main_df.drop(columns='extra_births')

MemoryError: Unable to allocate 165. GiB for an array with shape (22167624048,) and data type int64

In [ ]:
cdc_data_main_df.info()